In [2]:
import pandas as pd 
import numpy as np

In [48]:
df= pd.read_csv("C:\\Data Analyst Projects\\Netflix_Analysis\\netflix_titles.csv")

In [49]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

# Rating

In [51]:
unq = df['rating'].unique()

In [52]:
unq

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [53]:
df['rating']= df['rating'].replace(['74 min','84 min', '66 min'],np.nan)
df['rating'] = df['rating'].fillna('NR')

In [89]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,minutes,seasons,is_movie,is_tv_show,genre_count,content_age
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90.0,0,1,0,1,5
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",0,2.0,0,1,3,4
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,0,1.0,0,1,3,4

# Country

In [ ]:
unq=df['country'].unique()
unq

In [56]:
con_states = df['country'].value_counts()
con_states

country
United States                                    2818
India                                             972
United Kingdom                                    419
Japan                                             245
South Korea                                       199
                                                 ...
Russia, Spain                                       1
Croatia, Slovenia, Serbia, Montenegro               1
Japan, Canada                                       1
United States, France, South Korea, Indonesia       1
United Arab Emirates, Jordan                        1
Name: count, Length: 748, dtype: int64

In [57]:
country_replacements = {
    # ðŸ‡ºðŸ‡¸ United States variations
    'USA': 'United States',
    'U.S.A': 'United States',
    'US': 'United States',
    'United States,': 'United States',
    'United States of America': 'United States',

    # ðŸ‡¬ðŸ‡§ United Kingdom variations
    'UK': 'United Kingdom',
    'U.K.': 'United Kingdom',
    'England': 'United Kingdom',
    'United Kingdom,': 'United Kingdom',
    '  United Kingdom': 'United Kingdom',  # leading spaces fix

    # ðŸ‡·ðŸ‡º Russia and related
    'Soviet Union': 'Russia',
    'Soviet Union, India': 'Russia, India',  # multi-country normalized
    'India, Soviet Union': 'India, Russia',

    # ðŸ‡©ðŸ‡ª Germany (historical forms)
    'West Germany': 'Germany',
    'East Germany': 'Germany',

    # ðŸ‡­ðŸ‡° Hong Kong
    'Hong Kong, China': 'Hong Kong',
    'Hong Kong SAR China': 'Hong Kong',

    # ðŸ‡¹ðŸ‡¼ Taiwan
    'Taiwan, China': 'Taiwan',
    'Republic of China (Taiwan)': 'Taiwan',

    # ðŸ‡°ðŸ‡· / ðŸ‡°ðŸ‡µ Korea
    'Korea, South': 'South Korea',
    'South Korea': 'South Korea',
    'Korea, North': 'North Korea',
    'North Korea': 'North Korea',
    ', South Korea': 'South Korea',  # leading comma fix

    # ðŸ‡®ðŸ‡· Iran
    'Iran, Islamic Republic of': 'Iran',
    'Islamic Republic of Iran': 'Iran',

    # ðŸ‡¦ðŸ‡ª UAE
    'United Arab Emirates,': 'United Arab Emirates',

    # ðŸ‡«ðŸ‡· France
    ', France, Algeria': 'France, Algeria',  # multi-country fix

    # ðŸ‡µðŸ‡± Poland
    'Poland,': 'Poland',
}

In [83]:
df['country'] = df['country'].replace(country_replacements)
df['country']=df['country'].fillna('Unknown')
df['country'] = df['country'].str.strip()

In [84]:
df['country'].isna().sum()

np.int64(0)

# Duration

In [ ]:
df['duration'].unique()

In [79]:
# Extract minutes
df['minutes'] = df['duration'].str.extract(r'(\d+)\s*min').astype(float)

# Extract seasons
df['seasons'] = df['duration'].str.extract(r'(\d+)\s*Season').astype(float)

In [61]:
df['duration'] = df['duration'].fillna('Unknown')

In [81]:
df['minutes'] = df['minutes'].fillna('0')
df['seasons'] = df['seasons'].fillna('0')

In [62]:
df['duration'].isna().sum()

np.int64(0)

# director and cast

In [66]:
df['director'].unique()

4529

In [64]:
df['director']=df['director'].fillna('Unknown')

In [69]:
df['cast'].nunique()

7693

In [68]:
df['cast']=df['cast'].fillna('Unknown')

# date added

In [77]:
df['date_added'].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      shape=(1768,), dtype=object)

In [75]:
df['date_added']=df['date_added'].fillna('Unknown')

# Listed in

In [90]:
genre_df = (
    df[['show_id', 'listed_in']]
    .assign(listed_in = df['listed_in'].str.split(','))
    .explode('listed_in')
)
genre_df['listed_in'] = genre_df['listed_in'].str.strip()
genre_df.rename(columns={'listed_in': 'genre'}, inplace=True)

# Overall

In [91]:
df.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
minutes         0
seasons         0
is_movie        0
is_tv_show      0
genre_count     0
content_age     0
dtype: int64

In [92]:
df['is_movie'] = np.where(df['type'] == 'Movie', 1, 0)
df['is_tv_show'] = np.where(df['type'] == 'TV Show', 1, 0)
df['genre_count'] = df['listed_in'].apply(lambda x: len(x.split(',')) if isinstance(x, str) else 0)
df['content_age'] = 2025 - df['release_year']

In [94]:
df['genre_count']

0       1
1       3
2       3
3       2
4       3
       ..
8802    3
8803    3
8804    2
8805    2
8806    3
Name: genre_count, Length: 8807, dtype: int64

In [95]:
df.to_csv('netflix_cleaned.csv', index=False)
genre_df.to_csv('netflix_genres.csv', index=False)